.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px;
  } 
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading  {
    padding: 150px 0;
  }  
  .intro-header .page-heading h1 {
    font-size: 65px;
  }
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}

.btn-dark {
  color: #fff;
  background-color: #adb5bd;
  border-color: #adb5bd;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}